.top{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index: 2;
}
.top .am-navbar{
    background-color:#31c27c;
    height:1.4rem;
    width:100%;
    position: absolute;
}
.top .am-navbar-left{
    font-size:24px;
    line-height:28px;
    display:inline-block;
    margin-left:.3rem;
    height:50%;
}
.top .am-navbar-title{
    font-size:25px;
    line-height:25px;
    display:inline-block;
    margin-left:.5rem;
    height:50%;
}
.top .am-navbar-right{
    display:inline-block;
    vertical-align: middle;
    margin-left:.7rem;
    margin-right:-0.3rem;
    margin-top:0.1rem;
    height:50%;
}
input{
    background:none;
	outline:none;
    border:0px;
}
.edit{
    width:6.8rem;
    height:.8rem;
    margin-left:.25rem;
    margin-right:.25rem;
    background: #2baa6d;
    position: relative;
    top:0.4rem;
    left:0rem;
    color:#e9f6f0;
    font-size:20px;
    text-align: center;
}
.Search-List{
    margin:0;
    margin-top:.46rem;
    margin-left:.28rem;
    margin-right:.48rem;
    box-shadow: #666 0px 0px 10px;
    list-style:none;
    background: #f8f5f5;
    height:9rem;
    overflow:scroll;
    position: relative;
    z-index:999
}
.Search-Results{
    color:#666666;
    font-size:18px;
    padding:18px 20px 14px 20px;
    border-bottom:1px solid #eeebeb;
}
